.virtual-wrapper {
  font-size: 14.5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.virtual-row-wrapper:not([data-index='0']) {
  padding-top: 0.6rem;
}

.virtual-sl-no {
  font-size: 12px;
  margin-left: 7px;
}

.virtual-truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.virtual-hAlign-center {
  text-align: center;
  justify-content: center;
}

.virtual-hAlign-end {
  text-align: end;
  justify-content: end;
}

.virtual-hAlign-start {
  text-align: start;
  justify-content: start;
}
